// Custom theme
$custom-primary: #edebec;
$custom-secondary: #694b36;
$custom-tertiary: #694b36;

@import "~assets/scss/var.scss";

.bg-custom,
.bgt-custom {
  background-color: $custom-primary !important;
  color: $custom-secondary !important;
}

.bg-image-custom {
  background-image: url("~assets/frames/custom/custom.png");
  background-size: 100% auto;
  background-position: center center;
}

.bgi-custom {
  background-color: $custom-primary !important;
  background-image: url("~assets/frames/custom/custom.png");
  background-size: 100% auto;
  background-position: center center;
  color: $custom-secondary !important;
}

.txt-custom {
  color: $custom-secondary !important;
}

.txt-dark-custom {
  color: $custom-secondary !important;
}

// Main Section
.title-custom {
  line-height: normal;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: $custom-tertiary;
}

.couples-custom {
  font-size: 2.5rem !important;
  margin-bottom: 1rem;
  line-height: 1.6 !important;
  color: $custom-secondary;

  &>.amp {
    line-height: 1;
    font-size: 2rem;
    color: $custom-tertiary;
  }

  .groom, .bride {
    // background: -webkit-linear-gradient(45deg, #9A753E, $custom-secondary);
    background: $custom-secondary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    padding: 3px;
  }
}

.dates-custom {
  margin-bottom: 1rem;
  color: $custom-tertiary;

  &>.date-gregorian {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  &>.date-hijri {
    font-size: 1.1rem;
    font-style: italic;
  }
}

.venue-custom {
  text-transform: uppercase;
  color: $custom-tertiary;
}

// End Main Section

.footer-custom {
  background-image: -webkit-radial-gradient(50% 0%,
      circle closest-corner,
      transparent 0,
      transparent 35px,
      $custom-primary 36px);
  color: $custom-secondary;
}

#invitation {
  background-image: url("~assets/frames/custom/custom-2.png");
  background-size: 100% 100%;
  background-position: center center;
  background-color: $custom-primary;
  color: $custom-tertiary;
  padding: 1.5rem !important;
  .main-title {
    text-transform: uppercase !important;
  }

  .couples,
  .guest {
    text-transform: unset !important;
    color: $custom-secondary;
    // font-size: 1.5rem !important;
  }

  .couples {
    font-family: $cover-font !important;
    font-size: 1rem !important;
    line-height: 1.8;
  }

  .couples .amp {
    font-family: $primary-font !important;
		text-transform: lowercase;
    color: $custom-tertiary;
    font-size: 0.9rem;
    font-weight: normal !important;
  }

  .guest.available {
    color: $custom-secondary !important;
    font-family: $cover-font !important;
    font-size: 1rem !important;
    line-height: 1.6;
  
  
    &.guest-box {
      background: $custom-primary !important;
      border: 1px solid $custom-secondary !important;
    }
  }

  .guest.guest-box .dotted {
    border: none !important;
    border-top: 1px dotted $custom-secondary !important;
    color: $custom-secondary !important;
    margin-bottom: 0;
  }
}

#tentative {
  background-color: #fff !important;
  color: $custom-secondary !important;
  // background-image: url("~assets/frames/custom/custom.png");
  // background-size: 100% auto;
  // background-position: center center;
}
