
/*
Default Font 
*/
@font-face {
    font-family: 'Agnes';
    src: local('Agnes'),
        url(~assets/fonts/agnes-bold.ttf) format('truetype');
}
@font-face {
    font-family: 'CormorantGaramond';
    src: local('CormorantGaramond'),
        url(~assets/fonts/CormorantGaramond.ttf) format('truetype');
}
$font-url: 'https://fonts.googleapis.com/css?family=Italianno&display=swap';

$cover-font: 'Italianno', cursive;
$primary-font: 'CormorantGaramond', sans-serif;
$secondary-font: 'CormorantGaramond', sans-serif;
$countdown-font: 'Italianno', cursive;
// $countdown-font: 'Alex Brush', cursive;
