
/*
Default Font 
*/
@font-face {
    font-family: 'AstonScript';
    src: local('AstonScript'),
        url(~assets/fonts/AstonScript.ttf) format('truetype');
}
@font-face {
    font-family: 'CormorantGaramond';
    src: local('CormorantGaramond'),
        url(~assets/fonts/CormorantGaramond.ttf) format('truetype');
}
$font-url: 'https://fonts.googleapis.com/css?family=Italianno&display&family=Libre+Baskerville=swap';

$cover-font: 'AstonScript';
$primary-font: 'CormorantGaramond', sans-serif;
$secondary-font: 'CormorantGaramond', sans-serif;
$countdown-font: 'AstonScript';
// $countdown-font: 'Alex Brush', cursive;
